<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h2>Link Shortener</h2>
                {% if link.clicks == 0 %}
                <div class="alert alert-success">
                    <strong>Success!</strong> You have generated a short link.
                </div>
                {% endif %}
                <h3>Details</h3>
                <div class="row">
                    <div class="col-xs-4"><strong>Short URL:</strong><br>{{ base_url }}{{ encoded_id }}{{ link.random }}</div>
                    <div class="col-xs-4"><strong>Redirects to:</strong><br>{{ link.url }}</div>
                    <div class="col-xs-4"><strong>Created:</strong><br>{{ link.created.strftime("%c") }} UTC</div>
                </div>
                <h3>Clicks</h3>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>User agent</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for click in link.clicks %}
                        <tr><td>{{ click.inserted.strftime("%c") }} UTC</td><td>{{ click.user_agent }}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
