<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h2>Link Shortener</h2>
                {% if link.clicks == 0 %}
                <div class="alert alert-success">
                    <strong>Success!</strong> You have generated a short link.
                </div>
                {% endif %}
                <h3>Details</h3>
                <div class="row">
                    <div class="col-xs-4"><strong>Short URL:</strong><br>{{ base_url }}{{ encoded_id }}{{ link.random }}</div>
                    <div class="col-xs-4"><strong>Redirects to:</strong><br>{{ link.url }}</div>
                    <div class="col-xs-4"><strong>Created:</strong><br>{{ datetime.utcfromtimestamp(link.created).strftime("%c") }} GMT</div>
                </div>
                <h3>Clicks</h3>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>User agent</th>
                        </tr>
                    </thead>
                    <tbody id="clicks">
                        {% for click in link.clicks %}
                        <tr><td>{{ datetime.utcfromtimestamp(click.inserted).strftime("%c") }} GMT</td><td>{{ click.user_agent }}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            function initWebSocket() {
                var clicks = document.getElementById("clicks")
                var websocket = new WebSocket("ws://localhost:5001/")
                websocket.onopen = function(evt) {
                    console.log("connected")
                    websocket.send({{ link.id }})
                }
                websocket.onclose = function(evt) {
                    console.log("disconnected")
                }
                websocket.onmessage = function(evt) {
                    var res = JSON.parse(evt.data);
                    var row = clicks.insertRow(0);
                    var inserted = row.insertCell(0);
                    inserted.innerHTML = res.time;
                    var userAgent = row.insertCell(1);
                    userAgent.innerHTML = res.ua;
                }
                websocket.onerror = function(evt) {
                    console.log("error:", evt.data)
                }
            }
            window.addEventListener("load", initWebSocket, false)
        </script>
    </body>
</html>
